// This file must be imported before loading html5-boilerplate

$base-font-family: unquote('Helvetica, Arial, sans-serif');  // default font-family

$base-font-size: 13px;  // default font-size for YUI fonts

$base-line-height: 1.231;  // default line-height for YUI fonts

$font-color: #fff;

$link-color: #607890;

$link-hover-color: #036;

$link-active-color: #607890;

$link-visited-color: #607890;

$selected-font-color: #333;  // color for selected text

$selected-background-color: #ffc;  // bg-color for selected text

$list-left-margin: 2em;  // left margin for ul an ol

$section-padding: 20px 10px;

$background-color: #ccc;               

$dark-brown-background: #311900;
$brown: #5f340b;
$dark-blue: #003;
$dark-green: #030;
$dark-red: #600;