%h2 Featured Bout
.challenge
  .challenger
    %embed#challenger_1{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "250"}
    %div{:class => "challenger_1 votes"} 
      %table{:width => "100%"}
        %tr
          %th Challenger 1
        %tr
          %td{:class => "vote_count"} 567
        %tr
          %td
            = button_to "Vote!", "#", {:class => "vote"}
  .challenger
    %embed#challenger_2{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "250"}
    %div{:class => "challenger_2 votes"}
      %table{:width => "100%"}
        %tr
          %th Challenger 2
        %tr
          %td{:class => "vote_count"} 567
        %tr
          %td 
            = button_to "Vote!", "#", {:class => "vote"}
  .clearfix

.clearfix
= render 'comments' 