%h2 Featured Bout
.challenge
  .challenger
    %embed#challenger_1{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "250"}
    %div{:class => "challenger_1 votes"} 
      %table{:width => "100%"}
        %tr
          %th Challenger 1
        %tr
          %td{:class => "vote_count"} 567
        %tr
          %td
            = button_to "Vote!", "#", {:class => "vote"}
  .challenger
    %embed#challenger_2{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "250"}
    %div{:class => "challenger_2 votes"}
      %table{:width => "100%"}
        %tr
          %th Challenger 2
        %tr
          %td{:class => "vote_count"} 567
        %tr
          %td 
            = button_to "Vote!", "#", {:class => "vote"}
  .clearfix

.clearfix
.comments 
  %h2 Comments
  %table
    %tr
      %td
        %p.commenter Commie Commenter 11/11/11 at 11:11:11 a.m.
        %p Pork chop turducken spare ribs meatball shankle. Kielbasa ribeye tongue, pork belly swine meatball chicken brisket capicola venison. Kielbasa cow shankle spare ribs, fatback capicola sirloin ground round. Pork belly andouille ribeye, meatball tail cow corned beef beef pancetta jerky short loin. Brisket bacon pork, bresaola ham tri-tip meatball ground round pastrami. Rump spare ribs venison chuck sausage flank. Tongue rump hamburger pork loin, biltong ground round shankle pastrami.
    %tr
      %td
        %p.commenter Commie Commenter 11/11/11 at 11:11:11 a.m.
        %p Pork belly andouille ribeye, meatball tail cow corned beef beef pancetta jerky short loin. Brisket bacon pork, bresaola ham tri-tip meatball ground round pastrami. Rump spare ribs venison chuck sausage flank. Tongue rump hamburger pork loin, biltong ground round shankle pastrami.
    %tr
      %td
        %p.commenter Commie Commenter 11/11/11 at 11:11:11 a.m.
        %p Brisket bacon pork, bresaola ham tri-tip meatball ground round pastrami. Rump spare ribs venison chuck sausage flank. Tongue rump hamburger pork loin, biltong ground round shankle pastrami.
    %tr
      %td
        %p.commenter Commie Commenter 11/11/11 at 11:11:11 a.m.
        %p Tongue rump hamburger pork loin, biltong ground round shankle pastrami.        