%h3{:class => "blue"}
  =link_to "Challenges", "#"
%div
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  .clearfix
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  .clearfix
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  .clearfix
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  .clearfix
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  .clearfix

%h3{:class => "green"}
  =link_to "Open Challenges", "#"  
%div
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  .clearfix
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  .clearfix
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  .clearfix
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  .clearfix
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  .clearfix

%h3{:class => "red"}
  =link_to "Hall of Fame", "#"
%div
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  .clearfix
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  .clearfix
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  .clearfix
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  .clearfix
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  %embed{:src => "http://www.youtube.com/v/JpBGRA6HHtY", :width => "175"}
  .clearfix
